<section id="services">
  <div class="container">
    <h2>{{ .Site.Params.services.Title }}</h2>
    <div class="row">
      <div class="service-list col-sm-12">
        {{ range .Site.Data.services.serviceList}}
        <div data-scroll class="service-item col-sm-12 my-5 row">
          <div class="service-information col-md-6 align-self-center">
            <h4>{{ .title }}</h4>
            <p>{{ .description }}</p>
          </div>
          <div class="service-image col-md-6">
            <img src="{{ .image }}" alt="">
          </div>
        </div>
        <hr class="service-hr">
        {{ end }}
      </div>
    </div>
  </div>
</section>